/* font-family: Kanit, sans-serif;
font-family: Quicksand, sans-serif; */

body {
    background: #f7f7f7;
}

nav {
    background: #dfcdb6;
}
nav a {
font-family: Quicksand, sans-serif; 
font-weight: bolder !important;
font-size: 20px !important;
}

nav a:hover {
    color: white !important;
}
.rightpic {
    width: 80%;
    height: auto;
}

#skills {
    background-color: rgb(220, 233, 200);
}