/* font-family: Kanit, sans-serif;
font-family: Quicksand, sans-serif; */

body {
    background: #f6f6f6;
}

nav {
    background-color: #dfcdb6;
}

nav a {
font-family: Quicksand, sans-serif; 
font-weight: bolder !important;
font-size: 20px !important;
}

nav a:hover {
    color: white !important;
}
p, h2 {
    font-family: Quicksand;
}
/* #about {

} */
.name {
    font-family: Kanit, sans-serif;
    font-size: 2.5rem;
    color: #010101;
}
.title {
  font-family: "Kanit", sans-serif;
  letter-spacing: 9px;
  color: #d0a769;
  text-shadow: 1px 1.5px 1.5px #6E0A1E;
  text-transform: uppercase;
  white-space: nowrap;
}

.rightpic {
    width: 75%;
    height: auto;
}
.bar {
    width: 100%; 
    background-color: rgb(110, 110, 110);
    border-radius: 20px;
}
.skill {
    background-color: #d4ac71;
    text-align: right;
    border-radius: 20px;
}
.html {
    width: 40%;
}

.css {
    width: 30%;
}
.bootstrap {
    width: 20%;
}

@media only screen and (min-width:768px) {
    .title {
        font-family: "Kanit", sans-serif;
        font-size: 1.5rem;
        letter-spacing: 5.5px;
        color: #d0a769;
        text-shadow: 1px 1.5px 1.5px #6E0A1E;
        text-transform: uppercase;
    }
    .right-pic {
        width: 100%;
    }
}

  @media only screen and (min-width: 992px) {
    .title {
        font-family: "Kanit", sans-serif;
        font-size: 2rem;
        color: #d0a769;
        letter-spacing: 8px;
        text-shadow: 1px 1.5px 1.5px #6E0A1E;
        letter-spacing: 8px;
        padding-right: 1px;
    }
    .right-pic {
        width: 100%;
    }
    
} 
@media only screen and (min-width: 1200px) {
    .title {
        font-family: "Kanit", sans-serif;
        font-size: 2.5rem;
        color: #d0a769;
        letter-spacing: 10px;
        text-shadow: 1px 1.5px 1.5px #6E0A1E;
    }
    .right-pic {
        width: 100%;
    }
}